/*
 * Global Styles
 */
* {
    box-sizing: border-box;
}

body {
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
    padding: 1rem;
}

/*
 * Input Styles
 */
button {
    border: none;
    cursor: pointer;
}

button:hover {
    opacity: 0.8;
}

input {
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
}

input:focus {
    outline: 2px solid white;
}

input::placeholder {
    color: rgba(255, 255, 255, 0.6);
}

/* Button on top of the Input */
.input-container {
    width: 680px;
    max-width: 100%;
    position: relative;
}

.input-container input {
    background: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 50px;
    padding: 1rem 2rem;
    width: 100%;
}

.input-container button {
    background: white;
    border-radius: 50px;
    height: 80%;
    aspect-ratio: 1;

    position: absolute;
    top: 10%;
    right: 5px;
}

.video-element {
    max-width: 100vw;
    max-height: 92vh;  /* Adjusted max-height */
    width: auto;
    height: auto;

    /* To center the video both vertically and horizontally in case it doesn't cover the entire screen */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: contain;  /* ensures the video maintains its aspect ratio */
}

/*
 * Navigation Overlays
 */
 .top-overlay, .left-overlay, .right-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0);
  cursor: pointer;
 }

.top-overlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 5vw;
}

.left-overlay {
  top: 0;
  left: 0;
  width: 5vw;
  height: 100%;
}

.right-overlay {
  top: 0;
  right: 0;
  width: 5vw;
  height: 100%;
}

/*
 * Media Queries
 */
@media (max-width: 680px) {
    .input-container {
        width: 92%;
    }
    .top-overlay {
        height: 7.5vw;
    }
    .left-overlay, .right-overlay {
        width: 7.5vw;
    }
}

/* Phones */
@media (max-width: 480px) {
    .top-overlay {
        height: 10vw;
    }
    .left-overlay, .right-overlay {
        width: 10vw;
    }
}

/*
 * Fade out Animation
 */
@keyframes fadeAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-100%);
    }
}

.fade-out {
    animation: fadeAnimation 0.5s forwards;
}

/*
 * Loader Animation
 */
.lds-ripple {
    display: none;
    position: absolute;
    width: 80px;
    height: 80px;
}

.lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
}

@keyframes lds-ripple {
    0% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    4.9% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 0;
    }
    5% {
        top: 36px;
        left: 36px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 0px;
        left: 0px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}
