body {
    background-color: black;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

video {
  width: 100%;
  height: auto;
}

input[type="text"] {
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    outline: none;
}

.submit {
    margin: 4px 2px;
    cursor: pointer;
    padding: 8px 10px;
    border: none;
}

@keyframes fadeAnimation {
    0% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}

.fade-out {
    animation: fadeAnimation 0.5s forwards; /* adjust the 0.5s if you want it to be faster or slower */
}
